<%= form_with model: @post, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :title, "Tytuł" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :content, "Opis" %>
    <%= f.text_area :content, class: "form-control", rows: 5, required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :cover_image, "Zdjęcie główne" %>
    <%= f.file_field :cover_image, class: "form-control" %>
  </div>
  <%= f.submit "Zapisz", class: "btn btn-primary" %>
<% end %>
<%= link_to "Powrót", posts_path, class: "btn btn-secondary mt-3" %>