<div class="card">
  <% if @post.cover_image.attached? %>
    <%= image_tag @post.cover_image, class: "card-img-top" %>
  <% else %>
    <div class="card-img-top bg-secondary text-center text-white p-5">Brak zdjęcia</div>
  <% end %>
  <div class="card-body">
    <h1 class="card-title"><%= @post.title %></h1>
    <p class="card-text"><%= @post.content %></p>
    <%= link_to "Edytuj", edit_post_path(@post), class: "btn btn-warning" %>
    <%= link_to "Usuń", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Czy na pewno chcesz usunąć?" }, class: "btn btn-danger" %>
    <%= link_to "Powrót", posts_path, class: "btn btn-secondary" %>
  </div>
</div>
